.form {
    &__group {
        margin-bottom: 2rem;
    }

    &__input {
        display: block;
        width: 90%;
        padding: 1.5rem 2rem;
        font-family: inherit;
        color: inherit;
        font-size: 1.5rem;
        border-radius: .3rem;
        border: none;
        border-bottom: 3px solid transparent;
        background-color: rgba($color-white, .5);

        &:focus {
            outline: none;
            border: none;
            border-bottom: 3px solid $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .2s ease-in-out;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}