*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //1rem = 10px => font-size: 100% = 16px   => 10/16 * 100 = 62.5
    
    @include respond(big-desktop){ //<1800px
        font-size: 75%;  //1rem = 12px => 12/16*100 = 75
    }

    @include respond(tab-land){ //> 1200px
        font-size: 56.25%;  //1rem = 9px => 9/16*100 = 56.25
    }

    @include respond(tab-port){ //> 900px
        font-size: 50%;  //1rem = 8px => 8/16*100 = 50
    }
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
    box-sizing: border-box;

    @include respond(tab-port){
        padding: 0;        
    }
}